:root {
  --main-page-bg: white;
  --main-page-accent: rgb(126 34 206);
}

.navbar {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Open Sans";
  box-sizing: border-box;
}
.navbar .nav-items {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1rem;
  box-sizing: border-box;
  list-style: none;
}
.navbar .nav-items .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;
  gap: 8px;
}
.navbar .action {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  color: white;
}
.navbar .action a.btn {
  text-decoration: none;
  padding: 10px 14px;
  background-blend-mode: normal;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.4196078431);
  font-weight: bold;
  white-space: nowrap;
}
.navbar .action a.btn:last-child {
  color: white;
  box-shadow: 0px 0px 1px 1px rgb(126, 34, 206);
}
.navbar .action a.btn.btn-book {
  background: #673AB7;
  border: 1px solid #673AB7;
  box-shadow: none;
}
.navbar .action a.btn.btn-download {
  background: #673AB7;
  border: 1px solid #673AB7;
  box-shadow: none;
  width: -moz-fit-content;
  width: fit-content;
}
.navbar .nav-trigger {
  display: none;
}

.sidebar {
  display: none;
}

.landingpage {
  width: 90%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 16px;
  margin: 0;
}
.landingpage .left-sec {
  width: 50%;
  height: 100%;
  background: rgb(202, 246, 255);
  background: linear-gradient(90deg, rgba(202, 246, 255, 0.6727065826) 0%, rgba(190, 240, 250, 0.8099614846) 35%, rgba(202, 241, 249, 0.6895133053) 100%);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  gap: 1rem;
  padding: 1rem;
  padding-top: 5%;
  box-sizing: border-box;
}
.landingpage .left-sec span.tab {
  padding: 0.6rem 0.8rem;
  box-shadow: 0px 2px 6px 0px rgba(17, 17, 17, 0.311);
  border-radius: 50px 50px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
}
.landingpage .left-sec h3 {
  color: black;
  font-size: 3em;
  margin-bottom: 0;
}
.landingpage .left-sec p {
  color: #113750;
  font-size: 1.1em;
}
.landingpage .left-sec .btn-imp {
  background: rgb(22, 21, 21);
  color: rgba(255, 255, 255, 0.822);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  font-size: 0.8em;
  cursor: pointer;
}
.landingpage .right-sec {
  width: 50%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.landingpage .right-sec img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.recipe-container {
  padding: 1rem;
  width: 100%;
}
.recipe-container .recipe {
  width: 23.8095238095%;
  box-sizing: border-box;
}
.recipe-container .recipe .recipe-card {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
}
.recipe-container .recipe .recipe-card .card-icons {
  color: rgb(126, 34, 206);
}
.recipe-container .recipe .recipe-card .image-box {
  width: 93%;
  height: 150px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(17, 16, 29, 0.3647058824);
  border-radius: 10px;
  position: absolute;
  top: 3%;
}
.recipe-container .recipe .recipe-card .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.recipe-container .recipe .recipe-card .card-content {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  background: rgba(126, 34, 206, 0.082);
  box-shadow: 0px 0px 3px 0px rgba(17, 16, 29, 0.2392156863);
}
.recipe-container .recipe .recipe-card .card-content .recipe-title {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
  font-family: "Open Sans";
}
.recipe-container .recipe .recipe-card .card-content .more-details {
  display: flex;
  align-items: center;
  gap: 15px;
}
.recipe-container .recipe .recipe-card .card-content .more-details .serves, .recipe-container .recipe .recipe-card .card-content .more-details .cook-time, .recipe-container .recipe .recipe-card .card-content .more-details .ratings {
  display: flex;
  align-items: center;
  gap: 5px;
}
.recipe-container .recipe .recipe-card .card-content .meal-type-tags {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.recipe-container .recipe .recipe-card .card-content .meal-type-tags span {
  border: 1px solid rgba(17, 16, 29, 0.5254901961);
  padding: 0.2rem 0.6rem;
  border-radius: 15px;
  font-size: 0.9em;
}

.recipe-detail-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 18px;
  height: 100%;
  overflow-y: scroll;
}
.recipe-detail-container .recipe-first-sec {
  width: 100%;
  height: 450px;
  margin-top: 1rem;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(17, 16, 29, 0.062745098);
}
.recipe-detail-container .recipe-first-sec .card-icons {
  color: rgb(126, 34, 206);
}
.recipe-detail-container .recipe-first-sec .image-box {
  width: 35%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.recipe-detail-container .recipe-first-sec .image-box .fav-btn {
  z-index: 2;
  background: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2%;
  left: 5%;
  box-shadow: 0px 0px 5px 0px rgba(17, 16, 29, 0.5254901961);
  font-size: 18px;
}
.recipe-detail-container .recipe-first-sec .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe-detail-container .recipe-first-sec .card-content {
  width: 65%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-right: 0;
  position: relative;
}
.recipe-detail-container .recipe-first-sec .card-content .action-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
.recipe-detail-container .recipe-first-sec .card-content .action-section a, .recipe-detail-container .recipe-first-sec .card-content .action-section button {
  text-decoration: none;
  font-size: 0.9em;
  color: rgb(126, 34, 206);
  display: flex;
  align-items: center;
  gap: 8px;
}
.recipe-detail-container .recipe-first-sec .card-content .recipe-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 0;
}
.recipe-detail-container .recipe-first-sec .card-content .more-details {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.recipe-detail-container .recipe-first-sec .card-content .more-details .serves, .recipe-detail-container .recipe-first-sec .card-content .more-details .cook-time, .recipe-detail-container .recipe-first-sec .card-content .more-details .ratings {
  display: flex;
  align-items: center;
  gap: 5px;
}
.recipe-detail-container .recipe-first-sec .card-content .meal-type-tags {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.recipe-detail-container .recipe-first-sec .card-content .meal-type-tags span {
  border: 1px solid rgba(17, 16, 29, 0.5254901961);
  padding: 0.2rem 0.6rem;
  border-radius: 15px;
  font-size: 0.9em;
  background-color: #11101d;
  color: white;
}
.recipe-detail-container .recipe-first-sec .card-content .recipe-description h4 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.3rem;
}
.recipe-detail-container .recipe-first-sec .card-content .recipe-description hr {
  width: 3rem;
  height: 2px;
  background: #11101d;
  border: none;
  display: flex;
  align-items: center;
  position: absolute;
}
.recipe-detail-container .recipe-first-sec .card-content .recipe-description p {
  font-size: 0.9em;
  margin-top: 2rem;
}
.recipe-detail-container .recipe-second-sec {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  padding: 0 1rem;
  justify-content: space-between;
  font-size: 0.9em;
  border: 1px solid rgba(17, 16, 29, 0.062745098);
}
.recipe-detail-container .recipe-second-sec .recipe-ingredients {
  width: 40%;
  display: block;
  flex-direction: column;
}
.recipe-detail-container .recipe-second-sec .recipe-ingredients h4 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.3rem;
}
.recipe-detail-container .recipe-second-sec .recipe-ingredients hr {
  width: 3rem;
  height: 2px;
  background: #11101d;
  border: none;
  display: flex;
  align-items: center;
  position: absolute;
}
.recipe-detail-container .recipe-second-sec .recipe-ingredients .ingred-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 10px;
}
.recipe-detail-container .recipe-second-sec .recipe-ingredients .ingred-container span {
  padding: 0.5rem;
}
.recipe-detail-container .recipe-second-sec .recipe-ingredients .ingred-container span:nth-child(odd) {
  background: rgba(17, 16, 29, 0.062745098);
}
.recipe-detail-container .recipe-second-sec .recipe-instructions {
  width: 60%;
  border-left: 2px solid #11101d;
  padding: 0 0.5rem;
}
.recipe-detail-container .recipe-second-sec .recipe-instructions h4 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.3rem;
}
.recipe-detail-container .recipe-second-sec .recipe-instructions hr {
  width: 3rem;
  height: 2px;
  background: #11101d;
  border: none;
  display: flex;
  align-items: center;
  position: absolute;
}
.recipe-detail-container .recipe-second-sec .recipe-instructions .instruct-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  padding: 0.5rem 0rem;
  color: #FF3F3F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-message {
  padding: 0.5rem 0rem;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadeOut {
  animation: 3s fadeOutAnimation 8s ease forwards;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .navbar .nav-logo h3 {
    display: none;
  }
  .navbar .nav-items .nav-item {
    display: none;
  }
  .navbar .action {
    display: none;
  }
  .navbar .nav-trigger {
    width: 4rem;
    box-sizing: border-box;
    padding: 1rem;
    height: 4rem;
    margin-left: auto;
    right: 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
  }
  .navbar .nav-trigger.active {
    transform: translateX(-10%);
  }
  .navbar .nav-trigger.active span {
    border-radius: 5px;
    width: 60%;
    height: 10%;
    background: rgb(126, 34, 206);
    display: flex;
    align-self: flex-end;
    margin: 0.2rem;
    transition: 0.4s ease;
  }
  .navbar .nav-trigger.active span:nth-child(1) {
    width: 100%;
    transform: rotate(45deg) translateX(25%);
  }
  .navbar .nav-trigger.active span:nth-child(2) {
    width: 75%;
    display: none;
    transform: rotate(-45deg);
  }
  .navbar .nav-trigger.active span:nth-child(3) {
    width: 100%;
    transform: rotate(-40deg) translateX(20%);
  }
  .navbar .nav-trigger span {
    border-radius: 5px;
    width: 60%;
    height: 10%;
    background: rgb(126, 34, 206);
    display: flex;
    align-self: flex-end;
    margin: 0.2rem;
    transition: 0.4s ease;
    position: relative;
  }
  .navbar .nav-trigger span:nth-child(1) {
    width: 100%;
  }
  .navbar .nav-trigger span:nth-child(2) {
    width: 75%;
    display: none;
  }
  .navbar .nav-trigger span:nth-child(3) {
    width: 100%;
  }
  .sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    bottom: 0;
    right: -250px;
    background-color: #2d2d2d;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 0 0;
    box-sizing: border-box;
    justify-content: space-around;
    z-index: 2;
    transition: 0.4s ease;
    box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.205);
  }
  .sidebar.active {
    right: 0;
  }
  .sidebar .title {
    height: 10%;
    box-sizing: border-box;
    text-align: center;
  }
  .sidebar .list-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40%;
    align-items: center;
    gap: 10%;
    padding: 2rem;
    box-sizing: border-box;
  }
  .sidebar .list-tabs .tab {
    text-decoration: none;
    color: white;
    border-radius: 6px;
    padding: 0.7rem 1.2rem;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  .sidebar .list-tabs .tab.active {
    background: #673AB7;
    border: 1px solid #673AB7;
  }
  .sidebar .action {
    width: 100%;
    box-sizing: border-box;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .sidebar .action a.logout {
    background: #FFD3D3;
    color: #FF3F3F;
    text-decoration: none;
    width: 90%;
    text-align: center;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    border: 1px solid #FF3F3F;
    box-sizing: border-box;
  }
  .landingpage {
    width: 98%;
    height: 100%;
    font-size: 12px;
    flex-direction: column-reverse;
    position: relative;
  }
  .landingpage .left-sec {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    gap: 1rem;
    padding: 1rem;
    padding-top: 5%;
    box-sizing: border-box;
    position: relative;
  }
  .landingpage .left-sec span.tab {
    padding: 0.4rem 0.8rem;
    font-size: 0.7em;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.144);
    left: 2%;
    position: absolute;
    top: -5%;
    z-index: 23;
  }
  .landingpage .left-sec h3 {
    color: black;
    font-size: 2.3em;
    margin-bottom: 0;
  }
  .landingpage .left-sec p {
    color: #113750;
    font-size: 0.9em;
  }
  .landingpage .left-sec .btn-imp {
    background: rgb(22, 21, 21);
    color: rgba(255, 255, 255, 0.822);
    font-weight: bold;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-size: 0.8em;
    cursor: pointer;
  }
  .landingpage .right-sec {
    width: 100%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0px;
  }
  .landingpage .right-sec img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0px;
  }
  .recipe-container {
    border: none;
    width: 100%;
  }
  .recipe-container .recipe-header {
    border: 1px solid rgba(0, 0, 0, 0.048);
  }
  .recipe-container .recipe-wrapper {
    padding: 0.5rem;
    overflow-y: scroll;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .recipe-container .recipe-wrapper .recipe {
    width: 97%;
    height: 110px;
    box-sizing: border-box;
    padding: 0;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(126, 34, 206, 0.123);
    position: relative;
    box-sizing: border-box;
    padding: 0;
    border-radius: 10px;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .card-icons {
    color: rgb(126, 34, 206);
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .image-box {
    width: 10rem;
    top: 0;
    margin-left: -7%;
    padding: 0.5rem;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 10px;
    position: relative;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .card-content {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
    background: transparent;
    box-shadow: none;
    box-sizing: border-box;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .card-content .recipe-title {
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Open Sans";
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .card-content .more-details {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .card-content .more-details .serves, .recipe-container .recipe-wrapper .recipe .recipe-card .card-content .more-details .cook-time, .recipe-container .recipe-wrapper .recipe .recipe-card .card-content .more-details .ratings {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8em;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .card-content .meal-type-tags {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .recipe-container .recipe-wrapper .recipe .recipe-card .card-content .meal-type-tags span {
    border: 1px solid rgba(17, 16, 29, 0.5254901961);
    padding: 0.2rem 0.6rem;
    border-radius: 15px;
    font-size: 0.7em;
  }
  .recipe-create-container {
    padding-top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    align-items: flex-start;
  }
  .recipe-create-container form {
    height: -moz-fit-content;
    height: fit-content;
  }
  .recipe-create-container form .EasyMDEContainer {
    height: -moz-fit-content;
    height: fit-content;
  }
  .recipe-create-container form .EasyMDEContainer .CodeMirror {
    min-height: 80px;
    height: -moz-min-content;
    height: min-content;
  }
  .recipe-create-container form .EasyMDEContainer .CodeMirror .CodeMirror-scroll {
    min-height: 150px !important;
  }
  .recipe-detail-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 18px;
    font-family: "Poppins";
  }
  .recipe-detail-container .recipe-first-sec {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0.5rem;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }
  .recipe-detail-container .recipe-first-sec .card-icons {
    color: rgb(126, 34, 206);
  }
  .recipe-detail-container .recipe-first-sec .image-box {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    position: relative;
  }
  .recipe-detail-container .recipe-first-sec .image-box .fav-btn {
    z-index: 2;
    background: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -5%;
    left: 3%;
    box-shadow: 0px 0px 5px 0px rgba(17, 16, 29, 0.5254901961);
    font-size: 20px;
  }
  .recipe-detail-container .recipe-first-sec .image-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .recipe-detail-container .recipe-first-sec .card-content {
    width: 100%;
    height: 100%;
    padding: 0rem;
    border-radius: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
    padding-right: 0;
    box-sizing: border-box;
  }
  .recipe-detail-container .recipe-first-sec .card-content .recipe-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    font-family: "Open Sans";
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    background: rgba(17, 16, 29, 0.062745098);
  }
  .recipe-detail-container .recipe-first-sec .card-content .action-section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    background: rgba(17, 16, 29, 0.062745098);
  }
  .recipe-detail-container .recipe-first-sec .card-content .action-section a, .recipe-detail-container .recipe-first-sec .card-content .action-section button {
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(126, 34, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .recipe-detail-container .recipe-first-sec .card-content .action-section .action-icon {
    font-size: 1.2em !important;
  }
  .recipe-detail-container .recipe-first-sec .card-content .more-details {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
  }
  .recipe-detail-container .recipe-first-sec .card-content .more-details .serves, .recipe-detail-container .recipe-first-sec .card-content .more-details .cook-time, .recipe-detail-container .recipe-first-sec .card-content .more-details .ratings {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8em;
  }
  .recipe-detail-container .recipe-first-sec .card-content .meal-type-tags {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 15px;
  }
  .recipe-detail-container .recipe-first-sec .card-content .meal-type-tags span {
    border: 1px solid rgba(17, 16, 29, 0.5254901961);
    padding: 0.4rem 0.7rem;
    border-radius: 15px;
    font-size: 0.7em;
    background-color: #11101d;
    color: white;
  }
  .recipe-detail-container .recipe-first-sec .card-content .recipe-description {
    padding: 0 1rem;
    margin-top: 5%;
  }
  .recipe-detail-container .recipe-first-sec .card-content .recipe-description h4 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  .recipe-detail-container .recipe-first-sec .card-content .recipe-description hr {
    width: 3rem;
    height: 2px;
    background: #11101d;
    border: none;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .recipe-detail-container .recipe-first-sec .card-content .recipe-description p {
    font-size: 0.9em;
    margin-top: 2rem;
  }
  .recipe-detail-container .recipe-second-sec {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    padding: 0 1rem;
    justify-content: space-between;
    font-size: 0.9em;
  }
  .recipe-detail-container .recipe-second-sec .recipe-ingredients {
    width: 100%;
    padding: 0;
    display: block;
    flex-direction: column;
  }
  .recipe-detail-container .recipe-second-sec .recipe-ingredients h4 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  .recipe-detail-container .recipe-second-sec .recipe-ingredients hr {
    width: 3rem;
    height: 2px;
    background: #11101d;
    border: none;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .recipe-detail-container .recipe-second-sec .recipe-ingredients .ingred-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 10px;
  }
  .recipe-detail-container .recipe-second-sec .recipe-ingredients .ingred-container span {
    padding: 0.5rem;
  }
  .recipe-detail-container .recipe-second-sec .recipe-ingredients .ingred-container span:nth-child(odd) {
    background: rgba(17, 16, 29, 0.062745098);
  }
  .recipe-detail-container .recipe-second-sec .recipe-instructions {
    width: 100%;
    border-left: none;
    padding: 0;
  }
  .recipe-detail-container .recipe-second-sec .recipe-instructions h4 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  .recipe-detail-container .recipe-second-sec .recipe-instructions hr {
    width: 3rem;
    height: 2px;
    background: #11101d;
    border: none;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .recipe-detail-container .recipe-second-sec .recipe-instructions .instruct-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .recipe-detail-container .recipe-second-sec .recipe-instructions .instruct-container span {
    padding: 0.5rem;
  }
  .recipe-detail-container .recipe-second-sec .recipe-instructions .instruct-container span:nth-child(odd) {
    background: rgba(17, 16, 29, 0.062745098);
  }
}
/* Dashboard */
@media (prefers-color-scheme: dark) {
  :root {
    --main-page-bg: #11101d;
    --main-page-accent: rgb(126 34 206);
  }
}
.sidemenu {
  position: fixed;
  height: 100%;
  width: 75px;
  bottom: 0;
  left: 0;
  border-right: 1px solid rgba(126, 34, 206, 0.192);
  background: var(--main-page-bg);
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.sidemenu.active {
  width: 240px;
}
.sidemenu.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.sidemenu.active #btn {
  left: 90%;
}
.sidemenu.active ul li .tooltip {
  display: none;
}
.sidemenu.active ul li input {
  opacity: 1;
}
.sidemenu.active ul li #search-btn {
  color: var(--main-page-bg);
}
.sidemenu.active .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidemenu.active .profile_content .profile {
  background: none;
}
.sidemenu.active .profile_content .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}
.sidemenu.active .profile_content .profile #log_out {
  left: 88%;
  background: #1d1b31;
}
.sidemenu .logo_content {
  height: 50px;
}
.sidemenu .logo_content .logo {
  color: var(--main-page-accent);
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidemenu .logo_content .logo .logo-icon {
  font-size: 28px;
  margin-right: 5px;
}
.sidemenu .logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.03cm;
}
.sidemenu .logo_content .bx-menu {
  font-size: 28px;
}
.sidemenu #btn {
  position: absolute;
  color: var(--main-page-accent);
  left: 48%;
  top: 6px;
  font: size 20px;
  height: 50px;
  padding: 0.7rem;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidemenu ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}
.sidemenu ul li {
  position: relative;
  list-style: none;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  line-height: 45px;
}
.sidemenu ul li:hover .tooltip {
  top: 50%;
  opacity: 1;
  transition: all 0.5s ease;
}
.sidemenu ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 122px;
  background: #fff;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  color: var(--main-page-accent);
  pointer-events: none;
}
.sidemenu ul li form {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.sidemenu ul li form input {
  height: 100;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding: 0.8rem 1rem;
  padding-left: 46px;
  font-size: 14px;
  color: var(--main-page-bg);
  opacity: 0;
  font-weight: 400;
}
.sidemenu ul li form #search-btn {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 99;
  color: var(--main-page-accent);
  box-sizing: border-box;
  margin-left: 0;
  transition: all 0.5 ease;
}
.sidemenu ul li form #search-btn:hover {
  background-color: var(--main-page-accent);
  color: var(--main-page-bg);
}
.sidemenu ul li a {
  color: var(--main-page-accent);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  height: 100%;
}
.sidemenu ul li a:hover {
  color: var(--main-page-bg);
  background: var(--main-page-accent);
}
.sidemenu ul li .sidemenu-icon {
  height: 45px;
  min-width: 48px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0.8rem;
}
.sidemenu .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidemenu .profile_content {
  position: absolute;
  color: var(--main-page-accent);
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidemenu .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidemenu .profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.sidemenu .profile_content .profile .profile_details img {
  height: 45px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.sidemenu .profile_content .profile .profile_details .name_job {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidemenu .profile_content .profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}
.sidemenu .profile_content .profile .profile_details .job {
  font-size: 10px;
}
.sidemenu .profile_content .profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 45px;
  height: 45px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-page {
  position: absolute;
  height: 100vh;
  bottom: 0;
  width: calc(100% - 75px);
  left: 75px;
  transition: all 0.5s ease;
  background: var(--main-page-bg);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  box-sizing: border-box;
}
.main-page h1.logo {
  padding: 0rem;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-top: 3%;
}
.main-page h1.logo .logo-icon {
  font-size: 44px;
  width: 100%;
}
.main-page .btn-tabs-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem 5rem;
  padding: 0.5rem 3rem;
}
.main-page .btn-tabs-container li {
  list-style: none;
  width: 20rem;
  height: -moz-fit-content;
  height: fit-content;
}
.main-page .btn-tabs-container li a {
  width: 100%;
  text-decoration: none;
  padding: 1.3rem 2rem;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  border-radius: 5px;
  background: #d3d3d3;
  color: #11101d;
}
.main-page .btn-tabs-container li a .tab-icon {
  font-size: 18px;
  color: var(--main-page-accent);
  font-weight: bold;
}

.sidemenu.active ~ .main-page {
  width: calc(100% - 240px);
  left: 240px;
}

@media screen and (max-width: 1024px) {
  .sidemenu {
    display: none;
  }
  .main-page {
    width: 100% !important;
    margin-left: 0 !important;
    left: 0;
    padding: 0;
  }
  .main-page h1.logo {
    font-size: 4rem;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2%;
  }
  .main-page .btn-tabs-container {
    gap: 1.5rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-page .btn-tabs-container li {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */